<div class="container my-5">
  <h1>new</h1>

  <%= simple_form_for @bookmark do |f| %>
    <%= f.input :comment %>
    <%= f.association :movies %>
    <%= f.association :lists %>
    <%= f.button :submit %>
  <% end %>

</div>
